config RTC_DRV_PCF85063_WITTYPI4
	tristate "NXP PCF85063 WITTYPI4"
	select REGMAP_I2C
	help
	  If you say yes here you get support for the PCF85063 RTC chip on the WittyPi 4

	  This driver can also be built as a module. If so, the module
	  will be called rtc-pcf85063-wittypi4.
